body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: aqua;
    font-family:Verdana;
    font-size: 20px;
    color: tan;
}
nav {
    display: block;
}
.menu{
    padding-left:10px;
}
    .menu ul {
        list-style: none;
    }
    .menu li {
        display: inline;
    }
    .menu a:hover{
        color: red;
    }
table {
    vertical-align: middle;
    text-align: center;

}
.header {
    font-weight:bold;
}
td {
    padding-right:10px;
}
input {
    width: 150px;
}